@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  color: #ffffff;
  color: #efefef;
  color: #dcdcdc;
  color: #bdbdbd;
  color: #989898;
  color: #7c7c7c;
  color: #656565;
  color: #525252;
  color: #464646;
  color: #3d3d3d;
  color: #292929;
}